.grid {
    display: flex;
    justify-content: center;
}

.container {
    border: 1px solid black;
    width: 488px;
    height: 522px;
    display: flex;
    position: relative;

}

.row {
    width: 484px;
    margin: 0px;
    height: 50px;
    border: 2px dotted rgb(255, 255, 255);
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
}

.row:nth-child(2) {
    top: calc(52px*1);
}

.row:nth-child(3) {
    top: calc(52px*2);
}

.row:nth-child(4) {
    top: calc(52px*3);
}

.row:nth-child(5) {
    top: calc(52px*4);
}

.row:nth-child(6) {
    top: calc(52px*5);
}

.row:nth-child(7) {
    top: calc(52px*6);
}

.row:nth-child(8) {
    top: calc(52px*7);
}

.row:nth-child(9) {
    top: calc(52px*8);
}

.row:nth-child(10) {
    top: calc(52px*9);
}

.box {
    width: 47px;
    height: 47px;
    border: 1px solid rgb(0, 0, 0);
    margin: 0px;
    text-align: center;
}

#pointer {
    position: absolute;
    background-color: rgb(168, 75, 255);
    top: 3px;
    left: 3px;
    width: 45px;
    height: 45px;
    border: 1px solid;
    border-radius: 50%;
    transition: 2s;
}

@media(max-width:434) {
    .container {
        border: 1px solid black;
        width: 414px;
        height: 522px;
        display: flex;
        position: relative;

    }

    .row {
        max-width: 410px;
        margin: 0px;
        height: 50px;
        border: 2px dotted red;
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}